.header {
	padding-block: 50px;
	width: 1440px;
	width: 100%;
	position: fixed;
	z-index: 20;

	@media (max-width: 360px) {
		padding-block: 20px;
		overflow: hidden;
		position: relative;

		.content {
			flex-direction: column;

			// .left,
			// .middle,
			.right {
				justify-content: center;
				align-items: center;
				text-align: center;
				width: 100%;

				img {
					margin-bottom: 10px;
				}

				nav {
					ul {
						flex-direction: column;
						gap: 20px;

						li {
							a {
								font-size: 16px;
							}
						}
					}
				}
			}
		}
	}
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.left {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 15px;
			img {
				width: 100px;
				height: auto;
			}
		}
		.middle {
			nav {
				ul {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 40px;
					li {
						a {
							color: #fff;
							font-size: 12px;
							font-style: normal;
							font-weight: 700;
							line-height: normal;
						}
					}
				}
			}
		}

		.right {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 40px;
		}
	}
}
